<?xml version="1.0" encoding="UTF-8"?>
<project>
    <import file="phing/composer.xml" />
    
    <target name="phpunit.run">
        <phingcall target="phpunit.only-runs-tests" />
    </target>
    
    <target name="phpunit.run.no-dependency">
        <phingcall target="phpunit.only-runs-tests">
            <property name="phpunit.no-composer" value="true" />
        </phingcall>
    </target>
    
    <target name="phpunit.only-runs-tests" hidden="true">
        <if>
            <not>
                <isset property="phpunit.no-composer" />
            </not>
            <then>
                <phingcall target="composer.install" />
            </then>
        </if>
        
        <if>
            <not>
                <isset property="phpunit.configuration-directory" />
            </not>
            <then>
                <property name="phpunit.configuration-directory" value="app" />
            </then>
        </if>
        
        <exec command="env ./bin/phpunit -c ${phpunit.configuration-directory}"
            passthru="true" checkreturn="true" level="info" />
    </target>
</project>
